
.wc-dashboard .country {
  font-size: 6vw;
}

.wc-dashboard .score {
  font-size: 12vw;
  font-weight: bold;
}

.wc-dashboard .match-list {
  margin-top: 1rem;
}

.wc-dashboard .match-deets {
  font-size: 1.25rem;
}
