
.wc-dashboard .country {
  font-size: calc(0.6rem + 3vw);
}

.wc-dashboard .score {
  font-size: calc(1rem + 11vw);
  font-weight: bold;
}

.wc-dashboard .match-list {
  margin-top: 1rem;
}

.wc-dashboard .match-deets {
  font-size:calc(0.6rem + 1vw);
}
